<% if course.id != nil%>
    <ul class="nav nav-tabs nav-justified">
        <li <%= "class='active'".html_safe if request.fullpath.split('/').last == 'assignments' %>><%= link_to 'Assignments', assignments_course_path(id: course.id) %></li>
        <li <%= "class='active'".html_safe if request.fullpath.split('/').last == 'students' %>><%= link_to 'Students', students_course_path(id: course.id) %></li>
    </ul>
<% end %>
